#menu {
  text-align: right;
  padding: 0 2rem;
  transform: translateY(100%);
  .menu-nav {
    list-style: none;
    .nav-item {
      margin-bottom: 1rem;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: 200;

      .nav-link {
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
.logo {
  margin: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  & > a:nth-child(1) {
    max-width: 200px;
    img {
      width: 100%;
    }
  }
  & > a:nth-child(2) {
    font-size: 2rem;
  }
}
.active {
  @include easeOut;
  color: #fff;
}
.open-menu {
  display: none;
}
