<%- include ('partials/header') %>
<main id="home">
  <a href="#" class="menu-icon" onclick="openMenu()">
    <svg viewBox="0 0 100 80" width="40" height="40">
      <rect width="70" height="2" stroke="#fff" stroke-width="2"></rect>
      <rect y="25" width="70" height="2" stroke="#fff" stroke-width="2"></rect>
      <rect y="50" width="70" height="2" stroke="#fff" stroke-width="2"></rect>
    </svg>
  </a>
  <div class="portrait"></div>
  <div class="content">
    <div class="name"></div>
    <div class="text">
      <h1>Graphic | UI/UX Designer</h1>
      <p>
        Over the last 11 years, I’ve worked as a graphic designer at advertising, media publishing, web and design agencies. I worked as a freelancer
        for several startups and I've co-founded a design studio in Tehran.
      </p>
      <p>
        I've recently moved to Toronto and I look forward to collaborating with like-minded individuals who are as passionate about learning and
        sharing skills as I am.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, eligendi veniam voluptas quia, deleniti, quae iusto ullam voluptatum quod
        impedit repellat commodi id corporis quas? Incidunt id iure ea nulla?
      </p>
      <div class="buttons">
        <button>Get My Resume!</button>
        <div class="icons">
          <a class="icon" href=""><img src="images/behance.svg" alt="Behance" /></a>
          <a class="icon" href=""><img src="images/dribbble.svg" alt="Dribble" /></a>
          <a class="icon" href=""><img src="images/instagram.svg" alt="Instagram" /></a>
          <a class="icon" href=""><img src="images/linkedin.svg" alt="Linkedin" /></a>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ('partials/footer') %>
